<form class="form-horizontal">

	<script cam-script type="text/form-script">

		$scope.openBegin = function($event) {
				$event.preventDefault();
				$event.stopPropagation();
				$scope.dateFieldBeginOpened = true;
				$scope.dateFieldEndOpened = false;
		};
		$scope.openEnd = function($event) {
				$event.preventDefault();
				$event.stopPropagation();
				$scope.dateFieldBeginOpened = false;
				$scope.dateFieldEndOpened = true;
		};
	</script>


	<style>
.rg-required {
	vertical-align: super;
	color: grey;
	font-size: 75%;
}

.form-group select:disabled {
	-webkit-appearance: none;
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
</style>

	<div class="form-group">
		Anrede:
        <select cam-variable-type="String" cam-variable-name="anrede"
		name="anrede" required="true">
		<option value="Herr">Herr</option>
		<option value="Frau">Frau</option>
		</select>
	</div>

	<div class="form-group">
		<label for="vorname">Vorname:</label>
        <input class="form-control"
            cam-variable-type="String"
            cam-variable-name="vorname"
            name="vorname"
		    required="true" />
	</div>

	<div class="form-group">
		<label for="nachname">Nachname:</label>
        <input class="form-control"
			   cam-variable-type="String"
               cam-variable-name="nachname"
			   name="nachname"
               required="true" />
	</div>

	<div class="form-group">
		<label for="eMailKunde">E-Mail Adresse:</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="eMailKunde"
               name="eMailKunde"
               required="true"
               type="email"/>
	</div>

	<div class="form-group">
		<label for="matNr">Matrikelnummer:  s0</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="matNr"
               name="matNr"
							 pattern="[0-9]{6}"
               required="true" />
	</div>

	<div class="form-group">
		<label for="adresse">Adresse:</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="adresse"
               name="adresse"
               required="true" />
	</div>

	<div class="form-group">
		<label for="plz">Postleitzahl:</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="plz"
               name="plz"
							 pattern="[0-9]{5}"
               required="true" />
	</div>

	<div class="form-group">
		<label for="wohnort">Wohnort:</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="wohnort"
               name="wohnort"
               required="true" />
	</div>

	<div class="form-group">
		Gremium:
        <select cam-variable-type="String"
                cam-variable-name="gremium"
                name="gremium"
                required="true">
			<option value="AStA">Ausschuss f&uumlr Studierendenangelegenheiten</option>
			<option value="StuPa">Studierndenparlament</option>
			<option value="FSR">Fachschaftsrat allgemein</option>
      <option value="Ini Kopfbau">Initiative Kopfbau</option>
		</select>
	</div>

	<div class="form-group">
		Materialbezeichnung:
			<select cam-variable-type="String"
			cam-variable-name="matBez" name="matBez" required="true">
			<option value="Beamer">Beamer</option>
			<option value="K10mitSub">Lautsprecher K10 mit Subwoofer</option>
			<option value="K10ohneSub">Lautsprecher K10 ohne Subwoofer</option>
			</select>
	</div>

    <div class="form-group">
	    Beginn Leihzeitraum
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="leihBeginn"
               name="leihBeginn"
               datepicker-popup="dd.MM.yyyy"
               show-button-bar="false"
               onkeydown="return false;"
               is-open="dateFieldBeginOpened"
               ng-click="openBegin($event)" />
        <div role="alert"></div>
    </div>

	   <div class="form-group">
	       Ende Leihzeitraum
            <input class="form-control"
                   cam-variable-type="String"
                   cam-variable-name="leihEnde"
                   name="leihEnde"
                   datepicker-popup="dd.MM.yyyy"
                   show-button-bar="false"
                   onkeydown="return false;"
                   is-open="dateFieldEndOpened"
                   ng-click="openEnd($event)" />
        <div role="alert"></div>
    </div>

</form>
